@keyframes bounce {
  0% {transform: translateY(-200px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

@keyframes shake {
 0%, 100%                { transform: translateX(0);     }
 10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
 20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}

html,
body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url("../img/body-bg.jpg") no-repeat center top;
}
.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.png");
}
.inner-page-title {
  margin-bottom: 55px;
}
.inner-page-title h1 {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 30px;
  line-height: 42px;
}
.breadcrumbs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs li:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 18px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}
.breadcrumbs .current:after {
  display: none;
}
.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs .current {
  color: #aba9a7;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.inner-content {
  margin-bottom: 75px;
}
.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}
.inner-content h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}
.inner-content h2+h3 {
  margin-top: 30px;
}
.inner-content p {
  margin: 14px 0;
}
.inner-content table {
  border-collapse: collapse;
}
.inner-content td {
  padding: 10px 15px;
  border: 2px solid #000000;
}
.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}
.big-heading::after {
  position: relative;
  top: -25px;
  content: "";
  display: block;
  border-bottom: 2px solid #000000;
  z-index: 1;
}
.big-heading h2 {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  z-index: 2;
  background: #f8f3f0 url("../img/pattern-white.png");
}
.custom-list-1 {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}
.custom-list-1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}
.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}
.main-header{
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}
.inner-page .main-header {
  margin-bottom: 55px;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}
.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}
.main-navigation .logo-inner img {
  width: 111px;
  height: 24px;
}
.main-navigation .logo-inner:hover {
  background: none;
}
.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #242424;
}
.main-navigation .active {
  position: relative;
  background-color: none;
}
.main-navigation .active a:hover {
  background: none;
}
.main-navigation .active::after {
  content: "";
  position: absolute;
  height: 5px;
  bottom: 0;
  right: 20px;
  left:20px;
  background-color: #ffffff;
 }
.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
.user-block{
  float: right;
  width: 140px;
  min-height: 70px;
}
.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url("../img/icon-login.png") no-repeat;
  opacity: 0.3;
}
.login:hover::before {
  opacity: 1;
}
.login:hover{
  background-color: #242424;
}
.index-logo {
 width: 368px;
 height: 204px;
 margin: 0 auto;
 margin-bottom: 25px;  
}
.index.logo img {
  width: 368px;
  height: 204px;
}
.features{
  margin-bottom: 80px;
}
.features-item{
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
  text-align: center;
}
.featured-item p {
  margin: 10px;
  margin-bottom: 0px;
}
.features-item:last-child{
  margin-right: 0;
}
.features-name{
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 35px;
}
.features-name::after {
content: "";
position: absolute;
bottom: 0;
left: 50%;
margin-left: -10px;
display: block;
width: 20px;
height: 20px;
background-color: #ffffff;
transform: rotate(45deg);

}
.index-content{
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background:
url("../img/index-content-shadow.png") no-repeat center,
  #f8f5f2 url("../img/pattern-white.png");
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}
.news-preview li {
  padding-bottom: 25px;
}
.news-preview p {
  margin-bottom: 0px;
}
.news-preview time {
  text-transform: none;
  font-weight: 400;
}
.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;  
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}
.gallery {
  position: relative;
  height: 260px;
}
.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;  
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0; 
}
.appointment-form .btn {
  clear: both;
  width: 100%;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.index-content-left{
  min-height: 330px;
  float: left;
  width: 380px;
}
.index-content-right{
  min-height: 330px;
  float: right;
  width: 300px;
}
.main-footer{
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.png");
}
.footer-contacts{
  float: left;
  width: 320px;
  min-height: 90px;
  margin-right: 60px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social{
  float: left;
  width: 180px;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat center;

  transition: 
    background-position: 0.5s;
    background-color: 0.5s;
}
.social-btn:hover {
  background-color: #ffffff;
}
.social-btn-vk {
  background-position: 9px 10px;
}
.social-btn-fb {
  background-position: -40px 10px;
}
.social-btn-inst {
  background-position: -90px 10px;
}
.footer-copyright{
  float: right;
  width: 180px;
  min-height: 90px;
}
.footer-copyright p {
  margin-left: 30px;
  margin-bottom: 15px;
 
}
.footer-copyright .btn {
  margin-right: 0;
  text-align: center;
}

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  display: none;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.png");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-content-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form input.icon-user {
  background-image: url("../img/*.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}
.login-form input.icon-password {
  background-image: url("../img/*.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}
.login-form .restore {
  float: right;
  color: #000000;
}
.login-form .btn {
  width: 100%;
  margin-top: 15px;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover {
  color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
 transform: rotate(-45deg); 
}
.modal-error {
  animation: shake 0.6s;
}